
.principale p{
    font-style: italic;
    font-size: 45px;
    text-align: center;
}

.saisir_desc{
    height: 30px;
    border-radius:  5px;
    font-size: 20px;
    color: white;
    margin: 10px;
}
.saisir_montant{
    height: 30px;
    margin: 10px;
    border-radius:  5px;
    font-size: 20px;
    color: white;
}
.choix{
    border-radius: 5px;
    height: 30px;
    background: none;
    border: white;
    color: white;
}
body{
    background-image: url(image2.jpg);
    color: white;
}
.ajout_revenu
{
    height: 50px;
    border-radius: 25px;
    width: 250px;
    margin: 20px;
    background-color: #2691d9;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;  
}
.ajout_depense{
    height: 50px;
    border-radius: 25px;
    width: 250px;
    margin: 20px;
    background-color: #2691d9;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;  

}
.valider:hover{
    background-color: white;
    color: #2691d9;
    transition: 0.3s;
}
.statut{
    font-size: 30px;
    display: flex;
    padding: 20px 20px;
    margin: 20px 20px;
    justify-content: space-around;

}



input{
    background: none;

}
input:hover{
    background-color: #0b3d5e;
    transition: 0.3s;
    border: #2691d9;
}
option{color: black;}
/*.start{
    display: flex;
    justify-content: space-between;

}*/
.droite{
    display: flex;   
    text-align: center; 
    padding-left: 400px;
}

.lst{
    color: white;
    border: none;
    background-color: black;
    cursor: pointer;
    

}

.entete{
    font-size: 30px;
    font-style: italic;

}
.solde{
    margin: 70px;
    border: 3px solid black;
    height: 45px;
}

#prix{
    border:2px solid white ;
    padding-left: 25px;
    cursor: pointer;
}
.option{
    display: flex;
    margin: 10px;
    padding-left: 370px;
}
.lst_revenu{
    padding-right: 35px;
}
.saisit{
     
    padding-left: 500px;
}
.ajout .liste1{
    font-size: 30px;
    margin: 5px;
    
}
.liste{
    list-style: none;
}
.ajout{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.liste2{
    font-size: 30px;
    padding-left: 100px;
    
}
.ajout li{
    flex: 1;
}
.ajout button{
    padding-left: 10px;
}
button{
    padding-left: 10px;
    background-color:#0b3d5e;
    color: white;
    cursor: pointer;
}


